.mainWrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: bisque;
    overflow: scroll;
    
    .header{
        display: flex;
        flex-direction: column;
        width: 100%;
        min-width: 100%;
        min-height: 15%;
        background-color: rgb(252, 191, 116);
        justify-content: space-around;
        align-items: center;
        border-radius: 10px 10px 0 0;
        // padding: 2% 0;
        
        .top{
            display: flex;
            min-width: 100%;
            padding-top: 3%;
            justify-content: space-around;
            align-items: center;

            .headerWrapper{
                display: flex;
                flex-direction: column;
                
                .headerTitle{
                    
                }
                .headerInfo{
                    font-size: 2.2vw;
                    font-weight: 900;
    
                }
            }
        }
        .bottom{
            display: flex;
            min-width: 100%;
            justify-content: space-around;
            align-items: center;
        }
    }
    .items{
        .tempInstructions{
            display: flex;
            justify-content: center;
            overflow: scroll;
        }
    }
}



.productImg{
    height: 40px;
    width: 40px;
}