.navbar{
    height: 60px;
    width: 100%;
    background-color: gray;
    color: var(--anemonered);
    position: fixed;
    top: 0;
    z-index: 3;
    transition: all 1s ease;

    .logo{
        padding-left: 10px;
    }
}