.navbar{
    height: 60px;
    width: 100%;
    position: fixed;
    display: flex;
    background-color: antiquewhite;
    top: 0;
    z-index: 3;
    transition: all 1s ease;
    justify-content: space-between;

    .left{
        display: flex;
        height: 100%;
        width: 33%;
        align-items: center;
        padding-left: 2%;


        .title{
            font-weight: 700;
            font-size: 2vw;
            padding: 1% 8%;
            border-radius: 10px;
            text-decoration: none;
            background-color: rgb(219, 193, 160);
            color: rgb(0, 19, 128);
        }
    }

    .right{
        display: flex;
        height: 100%;
        width: 33%;
        align-items: center;
        justify-content: flex-end;
        
        .consumerLink{
            font-weight: 700;
            font-size: 1.5vw;
            padding: .5% 4%;
            border-radius: 10px;
            text-decoration: none;
            background-color: rgb(219, 193, 160);
            color: rgb(0, 19, 128);
            margin-right: 8%;
        }
        .connectMMBtn{
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-around;
            align-items: center;
            width: 35%;
            max-height: 52%;
            font-weight: 900;
            font-size: 1.2vw;
            padding: 2% 2%;
            border-radius: 10px;
            background-color: rgb(0, 19, 128);
            color: rgb(219, 193, 160);
            margin-right: 3%;
            border: none;

            img{
                width: 20%;
            }
        }
    }
}